.add-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(247, 245, 245);
    padding: 20px;
    text-align: start;
    height:fit-content;
}

.add-h1{
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.add-form {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: auto;
}

.add-label {
    background-color: transparent;

}

.add-input {
    background-color: rgb(243, 243, 243);
    border: .5px solid rgb(209, 209, 209);
    height: 30px;
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

/* .add-textarea {
    
    background-color: rgb(224, 222, 225);
    border: none;
    border-bottom: 2px solid blueviolet;
    outline: none;
    margin-bottom: 10px;
    width: 90%;
    height: 200px;
    padding: 10px;
} */

.react-quill{
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
}

.meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.button {
    background-color: rgb(154, 74, 229);
    border: none;
    border-radius: 59px 59px 59px 59px;
    -moz-border-radius: 59px 59px 59px 59px;
    -webkit-border-radius: 59px 59px 59px 59px;
    border: 0px solid #000000;
    color: white;
    width: 70px;
    margin-top: 10px;
    padding: 5px;
    font-weight: 700px;
}
.button:hover{
    background-color: rgb(177, 113, 236);
}

@media only screen and (max-width: 600px){
    .add-form{
        width: 100% !important;
    }
    .add-container{
        width: 100% !important;
    }
}

@media only screen and (max-width: 900px){
    .add-form{
        width: 580px;
    }
    .add-container{
        width: auto;
        display: flex;
        align-self: center;
    }
    
}

