* {
  box-sizing: border-box;
  margin: 0px;
}
.post-detail-container {
  background-color: rgb(40, 39, 39);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.detail-title {
    padding-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-family: "Poetsen One", sans-serif;
}

.detail-body {
  align-self: center;
  justify-self: center;
  text-align: start;
  padding: 30px;
  width: auto;
  height: 100%;
  color: antiquewhite;
  /* font-family: "Poetsen One", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .detail-title {
    padding-top: 20px;
    font-size: 23px;
    color: aliceblue;
  }
  .detail-body {
    font-size: 16px;
    padding: 10px;
  }
}
